[2011-05-17 01:57] Marak opened #1 "Implement logging plugin"
We should be able to log the IRC channel which Kohai is present in.

We should use a standard IRC logging format. Log files should be separated by date.

[2011-05-17 02:04] Marak opened #2 "Implement aliases plugin"
We should be able to define triggers in a specific file so we can easily create aliases / additional triggers which do not require a separate plugin.

[2011-05-17 02:05] Marak opened #3 "Rename "modules" folder to "plugins""

[2011-05-17 02:06] Marak opened #4 "Implement !tweet command in twitter "plugin""
We should be able to tweet from the IRC bot with a !tweet command.

[code]

[2011-05-17 02:11] Marak opened #5 "Create API option for twitter "plugin" that allows for auto-translation"
We should expose an option for the twitter plugin that will enable the bot to attempt a auto-translation to english.

Based on the data we receive from twitter, we might be able to determine language, but most likely we will need to use translate.js auto-translate feature. I think translate.js supports this, but it might require a patch. Related issue: https://github.com/Marak/translate.js/issues/

[2011-05-17 04:09] AvianFlu commented on #3
Fixed and tested.

[2011-05-17 04:09] #3 closed, assigned to AvianFlu

[2011-05-17 07:20] AvianFlu commented on #4
Implemented; working successfully.

[2011-05-17 07:20] #4 closed, assigned to AvianFlu

[2011-05-17 07:22] AvianFlu opened #6 "Implement !trigger whitelist"
We need to implement a whitelist for !trigger commands. Any !trigger commands issued by a non-whitelisted user will be rejected.

This list can be maintained statically for now.

[2011-05-17 07:33] Marak opened #7 "Refactor - actor/process based model for plugins"
Each plugin should run as a separate process that connects to the core irc bot via dnode. This will allow for us to take services up and down without taking down the main bot.

This should be simple re-factor, but we might want to bring in @substack to assist.

[2011-05-17 09:29] AvianFlu opened #8 "Version Numbers?"
Every commit so far has been 0.0.0, when should that start changing?

[2011-05-17 09:31] Marak commented on #8
This doesn't matter until we start publishing versions. Closing issue.

[2011-05-17 09:31] #8 closed, assigned to nobody

[2011-05-17 09:45] AvianFlu commented on #2
There's some code that does this already in server.js, lines 17-26... the hash is just empty as-is.  I added a test trigger and everything works.  Should it be moved to its own module, or left alone?

[2011-05-17 10:27] AvianFlu commented on #2
Nevermind prior comment.  Module implemented, new triggers go in the hash as "name" : function(data) {callback} , and get accessed with !trigger from chat as expected.  Closing issue.

[2011-05-17 10:27] #2 closed, assigned to AvianFlu

[2011-05-17 10:42] AvianFlu commented on #6
I'll put a list in plugins/alias.js tomorrow.  Checking against it before doing stuff should be cakesauce.

[2011-05-17 11:39] AvianFlu commented on #6
Whitelist for users now in config.js.  Should be dynamic, but it works.

[2011-05-17 11:39] #6 closed, assigned to AvianFlu

[2011-05-17 18:08] AvianFlu opened #9 "Improve config.alias.whitelist functionality"
Right now the whitelist is only a list of names - it should verify with the IRC server that a given nickname is registered and has identified properly, for obvious security reasons.

[2011-05-17 20:45] Marak opened #10 "Implement web admin plugin"
Create a simple plugin that spawns up a web server with a simple admin interface for interacting with the Kohai bot

You can spike a basic version of this, but ticket: https://github.com/nodejitsu/kohai/issues/7 should be completed before this ticket is fully implemented.

[2011-05-17 20:49] Marak opened #11 "Implement kohai browser plugin"
We should create a simple browser script that can be embedded on any web page. This script would then send a message to kohai after the page has been fully loaded and the domReady event has already fired.

The main purpose of this plugin would be to collect data about site traffic in real-time ( similar to chart-beat ). The main goal for Kohai would be able to intercept google search keywords so w

[2011-05-17 22:57] heapwolf opened #12 "Auto-Promote"
Im not sure if this is the responsibility of kohai, but it would be very useful to have a bot automatically promote the co-founders to ops and give voice to our crew.

[2011-05-18 00:44] AvianFlu opened #13 "Create README and documentation for 0.0.1 release"
NT

[2011-05-18 00:47] AvianFlu opened #14 "Create ability for kohai to execute IRC commands after identifying"
After Identify command, wait a few seconds to allow the command to complete, and then add any commands desired after logging in and identifying.

[2011-05-18 00:51] AvianFlu opened #15 "Add ability to execute commands on user part and join IRC"
When users part or join an IRC room kohai is in, kohai should look up their name in a table to determine if any actions are required, and then execute the necessary commands.

[2011-05-18 00:53] heapwolf commented on #12
duplicate of issue 15 (Even though this ticket came first, 15 has a better description).

[2011-05-18 00:55] AvianFlu commented on #12
Good idea.  Prerequisite tickets:

https://github.com/nodejitsu/kohai/issues/14 - give kohai ability to run commands after identifying

https://github.com/nodejitsu/kohai/issues/15 - commands on user part/join

[2011-05-18 00:58] AvianFlu opened #16 "Replace config.js with nconf"
https://github.com/indexzero/nconf

Instead of the existing config.js file, we should use @indexzero 's nconf library.

[2011-05-18 01:21] AvianFlu opened #17 "!stfu alias for kohai"
!stfu and !shutup should mute kohai's IRC voice for a predetermined period of time.

[2011-05-18 01:37] AvianFlu opened #18 "Kohai twitter auto-follow functionality"
Kohai should auto-follow everyone who tweets about related topics.

[2011-05-18 03:05] AvianFlu commented on #18
While the Twitter API supports this, the current version of node-twitter does not appear to.  May need to hold off on this.

[2011-05-18 03:35] AvianFlu opened #19 "Email for Kohai"
Should Kohai have the ability to send and react to emails?

[2011-05-18 06:29] Marak commented on #19
Yes, but it's too soon to think about that. Closing issue for now.

[2011-05-18 06:29] #19 closed, assigned to nobody

[2011-05-18 06:30] Marak commented on #18
You could always patch node-twitter then submit a pull request. While waiting for the author to pull / merge you can add your own fork as a vendor dep.

[2011-05-18 06:31] Marak opened #20 "Add shortlink after each Tweet announcement in IRC"
Everytime a twitter message gets piped to IRC, we should include a shortlink ( perhaps bit.ly ) that provides a link to the original tweet.

This will allow IRC users to click on the link and be brought to the Tweet, should they wish to interact with it via Twitter.com instead of the IRC channel.

[2011-05-18 15:49] AvianFlu commented on #18
It's true - the twitter API isn't exactly rocket science.  I'll look into it.

[2011-05-18 17:00] AvianFlu commented on #18
Upon further investigation, node-twitter definitely supports this.  This shouldn't be any trouble.

[2011-05-18 18:22] Marak commented on #12
Re-opened ticket. This ticket is separate functionality from #14 and #15. Once we get those two done, this ticket can be done.

[2011-05-18 19:16] AvianFlu commented on #17
Added !mute and !unmute triggers for the twitter feed.  I originally wanted to do this with the +q mode, but this was the better way of doing it.

[2011-05-18 19:16] #17 closed, assigned to AvianFlu

[2011-05-18 19:22] affinity-matrix opened #21 "Configurable command string"
Kohai should have a configurable command string/character, to prevent it from clashing with other potential bots that use the default "!" command character.

edit: bmeck's suggestion.

[2011-05-18 19:30] bmeck commented on #21
Might want it to be a string explicitly instead of character, some
bots use things like 'js:' and 'v8 '

On Wed, May 18, 2011 at 2:22 PM, emilyrose
reply@reply.github.com
wrote:

[2011-05-18 23:30] Marak opened #22 "Implement levenshtein algo to help better detect retweets for Twitter plugin"
https://github.com/gf3/Levenshtein/blob/master/lib/levenshtein.js

or

https://gist.github.com/979790

I'd opt for @gf3 's library, since if it doesn't work it will be more fun to yell at him.

[2011-05-19 03:32] AvianFlu commented on #16
Refactor complete.  Closing issue.

[2011-05-19 03:32] #16 closed, assigned to AvianFlu

[2011-05-19 03:48] AvianFlu opened #23 "Add ability to set kohai.config values from IRC"
Now that nconf has been integrated successfully, triggers should be set up to allow whitelisted IRC users to change kohai's configuration options on the fly.

[2011-05-19 03:49] indexzero opened #24 "Remove node_modules folder and use dependencies in npm"
Having node_modules checked into git goes against the current conventions in the node.js community. We should remove these in favor of using `npm install` and having all dependencies in the `package.json` file.

[2011-05-19 03:52] indexzero opened #25 "Refactor code structure to be consistent with node.js conventions"
Currently the code structure for kohai resembles this:

[code]

This goes against conventions used in other projects written by nodejitsu and the community at large. We should refactor this to the following

[code]

Happy to take this one on, but I don't want to mess anything up since there are no tests.

[2011-05-19 03:56] AvianFlu commented on #24
I did a 'git commit -a' a while back by mistake.  Thanks for pointing it out.

[2011-05-19 03:56] #24 closed, assigned to AvianFlu

[2011-05-19 17:42] AvianFlu commented on #25
I think I've done it, but I'll leave this open for comment from those more knowledgeable.

[2011-05-19 17:50] indexzero commented on #25
This looks good, but there are a couple of small things that you need to add on top of the restructure. The primary motivation here is that you want this library to be used programatically (i.e. from a `require` statement) as well as a stand-alone application (i.e. from running `node bin/server.js`).

In order to make the require work at a top level (not just by requiring individual plugins, as yo

[2011-05-19 21:18] AvianFlu commented on #25
Forgot to link the thread in the commit message.  https://github.com/nodejitsu/kohai/commit/5a890fe4789c017f8cfa2f0910a5f027d5b5b5b3

It's working this far:

[code]

That gives you a dump of your current config and starts the bot running.  One could also make nconf changes like this, but there isn't much of an external api to speak of right now - all the bot's actions are tied to chat and twitter

[2011-05-20 00:56] heapwolf opened #26 "Announce Git commits to IRC"
kohai should be able to stream in Git commit messages from github projects to the IRC room.

[2011-05-20 08:41] AvianFlu commented on #20
This seems relevant.  https://github.com/tanepiper/node-bitly

[2011-05-20 08:43] Marak commented on #20
1. Add node-bitly as a plugin
2. Make freenode plugin use bitly plugin API

[2011-05-20 18:34] AvianFlu commented on #22
We could also use Levenshtein to catch questions asked in IRC and compare them to an FAQ or something similar, then pipe back or link the response.

[2011-05-20 23:01] AvianFlu commented on #21
This is a good idea generally and super-helpful for testing purposes.  Thanks for the idea - closing issue.

[2011-05-20 23:01] #21 closed, assigned to AvianFlu

[2011-05-21 06:39] AvianFlu commented on #15
https://github.com/nodejitsu/kohai/commit/8acba05bf3b558dcddb438e6a327dc08cbe8c406

Oplist, voicelist, and banlist are now in config.json.  The bot takes appropriate action on channel join, and notes when users leave.

[2011-05-21 06:39] #15 closed, assigned to AvianFlu

[2011-05-21 06:47] AvianFlu commented on #12
Kohai will now auto-op, auto-voice, and auto-ban based on the lists in config.json.

[2011-05-21 06:47] #12 closed, assigned to AvianFlu

[2011-05-21 08:00] #25 closed, assigned to AvianFlu

[2011-05-21 08:25] AvianFlu opened #27 "Create unit tests"
There aren't any.  There need to be.

[2011-05-21 12:40] affinity-matrix opened #28 "Parse html entities"
Kohai does not parse html entities. I think it should, no?

`&gt;, &lt;, etc...`

[2011-05-21 12:40] Marak commented on #28
Can you be more specific?

[2011-05-21 12:41] affinity-matrix commented on #28
e.g.

<kohai> @mikespokefire: Today's task is to conquer Rails `:remote =&gt;` true and to install node.js

[2011-05-21 12:44] Marak commented on #28
Ahh, it should be a trivial fix. I'm not sure where the actual escaping is happening though.

[2011-05-21 12:45] affinity-matrix commented on #28
On twitter.

[2011-05-21 13:12] Marak commented on #13
Documentation is now ready for 0.0.1 release.

[2011-05-21 13:12] #13 closed, assigned to Marak

[2011-05-21 13:32] bmeck commented on #28
https://github.com/bmeck/jsentities
require('JS-Entities').html.[en,de]code(...) ?

Should this be optional?

On Sat, May 21, 2011 at 7:40 AM, emilyrose
reply@reply.github.com
wrote:

[2011-05-21 13:36] Marak opened #29 "Add ability to automatically expand shorturls in incoming Tweets"
https://github.com/Swizec/node-unshortener

[2011-05-21 13:39] indexzero commented on #7
+1 to the refactor. -1 to multiple processes. Why can't each module just expose `.start()` and `.stop()` methods?

[2011-05-21 13:41] affinity-matrix commented on #28
I'm not sure that it's really necessary to worry about much more than `&lt;, &gt;`. From what I've seen, twitter doesn't escape that which can't be used for injection (and it didn't even do that for a time).

[2011-05-21 13:41] indexzero opened #30 "Configuration should not be loaded in `kohai.start()`"
Right now we load the configuration in `lib/kohai.js` here: https://github.com/nodejitsu/kohai/blob/master/lib/kohai.js#L10

This should be performed in `bin/server` and `kohai.start()` should take the JSON configuration object as a parameter.

[2011-05-21 13:43] indexzero opened #31 "Expose plugins on the `kohai` object"
Plugins are not available directly on the `kohai` object right now. This will make it impossible to start/stop plugins in process. This should be modelled after the plugin system in haibu:

https://github.com/nodejitsu/haibu/blob/master/lib/haibu.js#L62

[2011-05-21 13:52] Marak commented on #7
Based on the conversations I was having with Substack, the reasoning behind multiple processes is actually pretty solid. He could explain it a lot better then I could.

For now, this ticket is flawed in its current state since a dnode / multiprocess refactor would be separate from the actor based plugin refactor. I'll come back to this issue shortly and make some edits / split it up into a few sma

[2011-05-21 13:54] Marak commented on #31
+1 @AvianFlu

[2011-05-21 19:38] AvianFlu opened #32 "Create !help command"
Kohai should have a trigger to return a list of triggers, and possibly short explanations of their purposes.

[2011-05-21 22:10] AvianFlu opened #33 "Refactor trigger handler in alias.js"
Argument passing there functions properly, but is clumsy and needs improvement.  Would be taken care of by #7.

[2011-05-22 01:20] #23 closed, assigned to AvianFlu

[2011-05-22 19:17] AvianFlu commented on #5
At least partially addressed by #35

[2011-05-23 03:02] DTrejo commented on #32
+1

link to github / readme would also be cool

[2011-05-23 18:51] mscdex opened #36 "automatic handling of submitting tweets > 140 chars"
There ought to be a way to use some third party text-only pastebin-like service that can store the whole tweet, and then the actual tweet is a truncated version with a short url at the end pointing to the full tweet.

Example tweet using the above text:
"There ought to be a way to use some third party text-only pastebin-like service that can store the whole tweet, a... http://some.url/123abc"

[2011-05-23 18:53] mscdex commented on #26
Can't this already be done with github's commit hook IRC bot?

[2011-05-23 18:55] mscdex opened #37 "Option to prepend outgoing tweet with IRC nick"
This was something maushu's _announcer bot had, where it would prepend the IRC nick of the person sending the tweet, to the tweet, to distinguish between users of the bot.

[2011-05-23 19:24] AvianFlu commented on #36
We're looking at a node-bitly library for other shortlink-related purposes - this will likely be fairly easy to do.

[2011-05-23 19:51] #30 closed, assigned to AvianFlu

[2011-05-23 21:34] AvianFlu commented on #31
The way plugins load has been changed to more closely parallel the method used in haibu.  Plugins will now be loaded upon dropping them into lib/plugins and starting the bot.

[2011-05-23 21:34] #31 closed, assigned to AvianFlu

[2011-05-24 07:19] AvianFlu opened #38 "!join and !part commands"
kohai currently has no way of changing the channels it is part of without restarting the bot - !join <channel> and !part <channel> triggers would make this possible on the fly.

[2011-05-24 18:16] isaacs opened #39 "twitter streaming is overly noisy"
It would be good if kohai only fed in tweet mentions if there has been no other activity in the room for 60 seconds, and no more than once per 30 second interval.

It can get really noisy and distracting at times, but it is nice to have that connection to twitter, and to stimulate activity when nothing else is going on.

[2011-05-24 18:57] AvianFlu commented on #38
Added in this commit:
https://github.com/nodejitsu/kohai/commit/347d1a2f47ba82c592ebfc614b2bb69d63da094f

[2011-05-24 18:57] #38 closed, assigned to AvianFlu

[2011-05-24 20:23] Marak commented on #39
The whole point of intercepting real-time data is to not rate-limit or drop messages. Any dropped messages defeat the entire purpose of the thing.

Currently there is the `!mute` and `!unmute` commands which will silence the bot as per the configurable interval. ( this can all be done via IRC by whitelisted users, which can also be added / removed from IRC )

Are these enough to silence the bot du

[2011-05-24 20:33] Marak commented on #39
Also, there was a bug where kohai was retweeting any messages of users it was following.

This was causing an extreme excess of messages. We've unfollowed everyone from the NodeKohai account, so this won't happen anymore.

[2011-05-24 20:36] isaacs commented on #39
If you want to see every mention of #node on twitter, set up a search in your twitter client.

No, it is not.  My request is for Kohai to behave reasonably by default.  If we have to !mute it every time we want to use the room during US daylight hours, then it defeats the purpose.

[2011-05-24 20:46] Marak commented on #39
I'm taking the bot down until further notice. I don't need the aggravation this is causing me today.

We've pulled in close to 10 people this week to the IRC room who were having difficulties with Node that got the support they needed. These people would not have gotten any support if it were not for the bot.

One person following hash tags doesn't do shit. You need to have the community actively

[2011-05-24 20:48] isaacs commented on #39
That's why the initial request was for Kohai to stream twitter in a not-annoying manner, rather than not at all.

[2011-05-24 21:20] AvianFlu commented on #39
This is a very early version of kohai still, and the periods of time spent in the #Node.js room have been very valuable in terms of testing and feedback so far.  It seems to me that the most logical course of action would be to have kohai make periodic visits for testing-by-fire, if you will, but not be a permanent resident until he's quieter/more mature/whatever.

A separate room for people who w

[2011-05-24 21:21] Marak commented on #39
@AvianFlu - I think both of those suggestions are pretty reasonable actually. We should open up a support room.

[2011-05-24 22:45] AvianFlu commented on #33
This should include #9 and tier the permissions for the triggers - we'll want more people tweeting than we will having access to !ban, for example.

[2011-05-25 00:58] Marak opened #40 "Implement dynamic rate limiting algorithm for IRC twitter output"
We need to implement a way for kohai to be a better irc citizen. Currently kohai is spitting out every tweet he picks up immediately. Sometimes this is valuable, other times it's disruptive.

There is a two part solution for this:
1. Kohai needs to be able to operate in multiple "volumes". The default volumes setting will be 10. This means at 10, kohai will spit out tweets as fast as he gets them

[2011-05-25 01:00] Marak opened #41 "Create node.js support room in IRC"
We need to register a separate IRC room that is strictly dedicated to node.js support.

In this room kohai will always operate at a volume of 10 ( as specified in this ticket: https://github.com/nodejitsu/kohai/issues/40 )

[2011-05-25 01:00] Marak commented on #39
I'm closing this ticket and have created two follow up tickets based on this discussion.

https://github.com/nodejitsu/kohai/issues/40
https://github.com/nodejitsu/kohai/issues/41

[2011-05-25 01:00] #39 closed, assigned to nobody

[2011-05-25 03:30] chapel commented on #7
The point of using dnode and a process plugin system is so that plugins can be restarted, or added on the fly easily. If there is an update to a plugin, the bot doesn't have to be taken down. Also allows for more intensive plugins to be separate from the main process, so the bot is more functional even with a lot of things going on.

[2011-05-25 03:34] Marak commented on #7
Can I summon @SubStack to the thread?

[2011-05-25 04:15] ghost commented on #7
The more you can update the code without spamming channels the faster you can fix bugs and iteratively improve features. If you just expose the irc handle and events then processes can hook onto those and if they die it doesn't require any special sandboxing, the connection will just drop between the plugin and the main bot process and you can look at what broke. Plus with the process-oriented app

[2011-05-25 04:41] jfhbrook commented on #7
I had a similar experience with lulzbot, the irc bot I wrote, and a precursor to #stackvm's rowbit. However, I had only one connecting process that handled multiple modules to do intelligent things, instead of each module having its own process. I think this "multi-concern process" model might be appropriate for very similar concerns such as call/response behaviors, like my old !weather module and

[2011-05-25 04:43] jfhbrook commented on #7
Also, if you were to pipe the dnode protocol over zmq or some such you could make your system do potentially lighter-weight ipc's instead of full-on tcp networking. The way that dnode is written right now, I don't think this is too big a stretch for a future pull request.

[2011-05-25 04:44] chapel commented on #7
@jesusabdullah I had a similar idea that I expressed to @avianflu

I agree that you should be able to group plugins onto processes, as they make sense. So there could be a general plugin process, and then individual plugins could specify in a config or in their code that they need their own process. Could also have plugins be on demand, and only run when called.

[2011-05-25 04:48] jfhbrook commented on #7
One last comment: If you guys are considering such a refactor you may be interested in checking out [the code for rowbit](https://github.com/substack/rowbit) which basically exposes the meat of the irc module's internal methods over dnode, given a successful auth step. It might actually be pretty close to what you're looking for as-is, at least for the irc side of things.

[2011-05-25 07:10] samsonjs commented on #40
Here's a basic rate limiting queue I just came up with. I haven't run the code so for all I know it doesn't even parse, but someone might be able to run with it. I added a volume knob which has a one second latency. Making it instantaneous is easy, just call limit() after adjusting volume (mute & unmute could be changed to call volume() instead of setting volume directly).

https://gist.github.com

[2011-05-25 07:14] Marak commented on #40
@samsonjs - Thank you!

It's going to take me a non-trivial amount of time to review this. I'll definitely test it out when I can. Hopefully @avianflu or others can check it out in the mean-time.

[2011-05-25 07:22] samsonjs commented on #40
No problem. The hard part is adjusting the volume anyway ;-) Hit me with any questions you might have.

[2011-05-25 18:34] AvianFlu commented on #40
I'm going to make a silent bot to sit in #Node.js for a while and keep track of the number of IRC messages sent per minute over the observed time period.  That data should be helpful in setting the specific volume levels later.

[2011-05-25 19:26] AvianFlu commented on #40
`databot` is up and running in #Node.js.  His nick is WallyDater.  He is silent, and the saved data will be posted in a gist later.

[2011-05-25 21:34] AvianFlu commented on #40
This is the first hour of data.  https://gist.github.com/992044

[2011-05-25 23:10] AvianFlu commented on #40
Some busier chat https://gist.github.com/992209

[2011-05-26 07:00] Marak commented on #41
#nodesupport room is now in full effect on irc.freenode.net

[2011-05-26 07:00] #41 closed, assigned to nobody

[2011-05-26 07:03] Marak commented on #32
I think considering the amount of commands, it would be most appropriate for `kohai` to PM the user who hit the `!help` trigger.

[2011-05-26 07:06] Marak opened #42 "!config get ( with no params ) crashes kohai"
Try:

`!config get`

[2011-05-26 07:17] AvianFlu commented on #42
Fixed.  Closing issue.

[2011-05-26 07:17] #42 closed, assigned to AvianFlu

[2011-05-26 10:19] slickplaid opened #43 "Exploit with Newlines"
You can exploit the bot into running any command you want to by inserting a new line (say on twitter.com, \n does not work).

A tweet like this will cause the bot to quit:
"This is a tweet:
quit this is where my quit message will go"

A tweet like this will give ops to any user:
"node.js is cool
mode #kohai +o slicky"

Hopefully the linebreaks show up properly.

I'd recommend you remove chanserv a

[2011-05-26 16:22] AvianFlu commented on #43
Whoa, thanks man.  On it.

[2011-05-26 16:24] AvianFlu commented on #43
Pull request pulled.  Closing issue.

[2011-05-26 16:24] #43 closed, assigned to nobody

[2011-05-27 06:12] Marak commented on #40
Okay, now that we understand that data, we should build the first piece of the puzzle in `kohai`. We need to implement the ability for `kohai` to store the current "chat_rate" of an IRC room.

The "chat rate" will be determined by the number of messages (n) sent in the past (x) seconds. The rate will update every 1 second. The "chat_rate" is a moving average. Here is some pseudo code, I haven't tr

[2011-05-27 09:22] jfhbrook commented on #26
I've implemented a git-watching irc plugin like four times for browserling. I plan to do a fifth refactor Any Day Now. I'd be glad to rewrite it with Kohai in mind. ^__^

[2011-05-27 09:23] jfhbrook commented on #26
@mscdex one nice thing about an irc bot would be that you could choose which to watch from "your side" instead of having to get the repo owner to "point" their repo to your bot. I actually tried a non-polling approach previously, and culturally it just don't work.

[2011-05-27 10:29] jfhbrook opened #45 "!retweet"
The ability for the twitter plugin to retweet the latest tweet would be pretty rockin'.

[2011-05-27 10:29] mscdex commented on #26
@jesusabdullah wouldn't you have to poll github's api to detect new commits, or do they have a stream api now? How common would it be that you'd want to be monitoring commits for a repo you don't own over IRC?

[2011-05-27 10:30] jfhbrook commented on #26
Addendum: Other information from github would also be useful, such as changes in issues, updates in # watched, etc.

[2011-05-27 10:33] jfhbrook commented on #26
@mscdex First: Yes, you do have to poll the API every few seconds. They're working on a v3 api now but I believe it's also non-streaming (if it were that'd be radtastic). As far as monitoring commits you don't own: It happens pretty often actually.

Here's an example that has probably happened irl: I wrote my IRC bot and wanted it to get updates on /substack/dnode, which is part of the browserling

[2011-05-27 16:15] dominictarr commented on #45
infinite twitter loop!

On Fri, May 27, 2011 at 3:29 AM, jesusabdullah <
reply@reply.github.com>wrote:

[2011-05-27 16:44] AvianFlu commented on #5
"Important: The Google Translate API has been officially deprecated as of May 26, 2011. Due to the substantial economic burden caused by extensive abuse, the number of requests you may make per day will be limited and the API will be shut off completely on December 1, 2011. For website translations, we encourage you to use the Google Translate Element."

Seemed relevant.

[2011-05-27 17:02] Marak commented on #45
Yeah....except unless we start appending a unique id to each tweet to track internally, this will not really work.

There is a high likelihood that by the time you type `!retweet` and hit enter, that another tweet will come in and you will retweet the wrong tweet!

[2011-05-27 21:07] AvianFlu commented on #40
I've got this algorithm implemented and working - I'm moving on to the volume part next.

[2011-05-28 00:09] Marak opened #47 "Add ability to configure settings for individual IRC channels"
New structure should look something like this: https://gist.github.com/996432

[2011-05-28 02:53] AvianFlu commented on #47
This has been implemented, though some debugging may still be needed.

[2011-05-28 07:40] #40 closed, assigned to AvianFlu

[2011-05-28 07:40] #47 closed, assigned to AvianFlu

[2011-05-28 19:25] AvianFlu commented on #18
It turns out that having kohai follow people leads to a ton of excess tweets.  Closing issue.

[2011-05-28 19:26] Marak commented on #18
That is unrelated to functionality.

Why can we just have Kohai not automatically broadcast the tweets of people he is following?

[2011-05-29 00:34] mandric commented on #1
+1 ;)

[2011-05-29 15:59] AvianFlu opened #48 "Add ability to ignore specific twitter users"
It seems like there are specific bots and specific people one might want to never see tweets from over the life of the bot; the twitter API supports this, so it's simply a matter of making the trigger.

[2011-05-29 16:46] AvianFlu commented on #5
Until translation is implemented, kohai is going to drop all non-english tweets.

https://github.com/nodejitsu/kohai/commit/a1c06aa25f8d33b541de95f06a29e5b7e0afc84a

[2011-05-29 20:36] AvianFlu commented on #18
The issue with tweeting follower messages has been solved, but it depends on a patch to @jdub 's node-twitter ( https://github.com/jdub/node-twitter/pull/16 ) to support the relevant method in the Twitter Stream API. The auto-follow functionality itself should be trivial to add.

[2011-05-29 21:15] Marak commented on #1
TODO:
1. Clean up format of logging data ( use standard IRC formats, provide multiple options )
2. Patch Winston to allow for date / time spans of the File transport ( see: https://github.com/indexzero/winston/issues/10 )

[2011-05-29 21:35] AvianFlu commented on #18
Can be configured with `!config set plugins:irc:twitter:autofollow "true"|"false"`

[2011-05-29 21:35] #18 closed, assigned to nobody

[2011-05-30 03:41] Marak opened #49 "Add ability to manage configuration settings per plugin / split up config.json"
We should break out the individual plugin configurations in the main config.json and have them set on the plugin level instead.

[2011-05-31 23:30] Marak commented on #26
@jesusabdullah - Is there any status on this? Do you have something online we can look at?

Thanks!

[2011-05-31 23:39] chapel commented on #49
e.g. having their own config.json file?

I think this would be good, would allow for more robust and complicated plugins without polluting the main config.

[2011-05-31 23:41] chapel commented on #45
@marak is right, there would have to be an ID or some way to specify what to RT. Maybe do a hash of the tweet, or tweet id, so you could just !retweet <hash> and it would handle the rest.

[2011-05-31 23:43] Marak commented on #49
My thoughts exactly. This is probably something we'd want to implement in the plugin constructor.

[2011-06-01 00:32] jfhbrook commented on #26
@marak Yeah, kind of. I have an old codebase I need to get around to refactoring.

https://github.com/jesusabdullah/lulzbot/tree/master/gitwatch is the old gitwatch code. It's kind of a mess right now, unfortunately.

[2011-06-01 04:48] #22 closed, assigned to AvianFlu

[2011-06-01 22:57] AvianFlu commented on #9
https://github.com/nodejitsu/kohai/commit/fa67c4ce6e7633a993a2754f1553dae91896e3fb

`kohai` now implements Freenode's `CAP REQ IDENTIFY-MSG` command, which causes the Freenode server to prepend all identified users' messages with '+', and all non-identified users' messages with '-'; this can be checked for, and now only properly identified users will be able to use the whitelisted commands.

[2011-06-01 22:57] #9 closed, assigned to nobody

[2011-06-02 21:42] #29 closed, assigned to nobody

[2011-06-03 06:01] AvianFlu commented on #32
lib/plugins/help.js has been added, which implements a !help command.  Once the dnode refactor has been completed, a better help system can be implemented... but this should carry us through the experimental phase at least.

[2011-06-03 06:01] #32 closed, assigned to nobody

[2011-06-03 07:38] Marak commented on #39
Both follow up tickets have been closed. Issue should be solved...

[2011-06-03 11:51] 3rd-Eden opened #50 "Better tweet language detection"
The only language check is the check of the user that send the message. But it's still possible for `english` account to tweet in foreign languages.

There are 3 solutions for this

1   Use the Google API's to check which language the tweet (based on the confidence of the indication)
2   Count the amount of unicode characters in a tweet. As most foreign languages like Japanese, chinees use unicode

[2011-06-03 16:28] jamesonjlee commented on #50
if it's not an issue with timing, you could check the char code of each letter and check if it  goes out of standard ascii range (255)

clients are suppose to handle utf8 text failures (don't have the char set) gracefully :3

are utf8 tweets destroy chat rooms?

[2011-06-03 16:52] lrewega commented on #50
@drjackal not destroying chat rooms, no, it just may be nice to filter out non-$language tweets in certain contexts (channels) of the bot, similar to how the rate limiter works. Setting a threshold of unicode characters allowed in a tweet would probably be good at filtering out some non-english languages, if kohai wants to be english-oriented. At least, until a better system is created (e.g. actua

[2011-06-03 17:46] jamesonjlee commented on #50
@irewega you can add a language filter by adding char-code regions to accept, for CJK you could look at something like this, http://www.rikai.com/library/kanjitables/kanji_codes.unicode.shtml

[2011-06-03 19:20] DTrejo commented on #32
Nice. Just used it and I like it a lot.

On Thu, Jun 2, 2011 at 11:01 PM, AvianFlu <
reply@reply.github.com>wrote:

##

My indie music project, mixest.com
for more projects, dtrejo.com

[2011-06-04 19:53] #28 closed, assigned to nobody

[2011-06-05 18:26] Marak opened #51 "Refactor !insult switch / case"
https://github.com/nodejitsu/kohai/blob/master/lib/plugins/alias.js#L30

This method needs to be refactored.

Insults should be stored as an array of strings in the config.json file. The code for sending insults should only be a few lines long.

The switch / case in this block of code has introduced an anti-pattern. You need to uncouple the data ( insults ) from the logic ( sending insults ).

[2011-06-05 22:43] #51 closed, assigned to nobody

[2011-06-06 06:41] Marak opened #52 "!report command should tweets from that user"
If you `!report` a user for spam, `kohai` should no longer display any tweets from that user.

[2011-06-06 07:11] AvianFlu commented on #52
https://github.com/nodejitsu/kohai/commit/8529f1748526885d74f83bfb2c80ebe42a6ec710

Added twitter block to !report.

[2011-06-06 07:11] #52 closed, assigned to AvianFlu

[2011-06-06 09:22] #20 closed, assigned to nobody

[2011-06-06 09:23] #48 closed, assigned to nobody

[2011-06-08 23:42] AvianFlu opened #55 "Dynamic rate limiting should be disabled by default"
nt

[2011-06-09 00:30] AvianFlu opened #56 "Make identify check configurable"
Not every ircd supports the `CAP REQ IDENTIFY-MSG` command that we use for the identify check on freenode - this must be made configurable, as no proper commands will be received from a non-compliant server with this setting enabled.

[2011-06-09 00:42] AvianFlu opened #57 "Create CLI tool to help first-time setup"
It would be useful for a wizard to start that asked for things like the bot's name, the administrator's IRC nick, and other basic options if only the default config file is detected.

[2011-06-09 03:14] indexzero commented on #57
+1 The features required for this have been requested for `node-prompt`. That is, some kind of workflow or branching structure for a set of ordered prompts. With something like this in `node-prompt` it would be pretty trivial to implement this.

[2011-06-10 06:28] #55 closed, assigned to AvianFlu

[2011-06-11 12:14] Marak commented on #7
New plugin system is going to be built using hook.io.

Once we have completed the individual hooks for each of kohai's existing i/o responsibilities, we'll push this refactor forward. Closing for now...

[2011-06-11 12:14] #7 closed, assigned to nobody

[2011-06-11 12:14] Marak opened #58 "refactor plugin system to use hook.io"
nt

[2011-08-18 20:30] heapwolf opened #61 "commands for displaying common info"
kohai should report open bugs and places to go for help when particular keywords are mentioned.

[2011-08-18 21:58] AvianFlu commented on #61
This is a good idea.  There are a few ways we could do it, though.

The easy way would be to keep a continuously-updated key-value list where keywords have responses as values.  This would be updated to reflect whatever issues are common at the moment.  Development time would be negligible, but maintaining the data would be more of a pain over time.

The not-so-easy way:
- regex for sentences that

[2011-08-18 22:02] AvianFlu commented on #56
This has been fixed in the `refactor` branch, which will be merged soon, pending docs and some more testing.  Closing issue.

[2011-08-18 22:02] #56 closed, assigned to AvianFlu

[2011-08-18 22:02] heapwolf commented on #61
we could start with something less intelegent...

[code]

[2011-08-19 06:31] #14 closed, assigned to AvianFlu

[2011-08-19 06:31] #33 closed, assigned to nobody

[2011-08-19 06:31] #49 closed, assigned to nobody

[2011-08-31 03:02] Marak commented on #58
This appears to be done and working in the `refactor` branch.

Let's finish up the documentation and prepare a release.

[2011-08-31 03:03] Marak opened #62 "Update documentation based on refactor"
We need to update the `refactor` branch to include documentation and example code / configs.

[2011-10-13 21:26] AvianFlu opened #64 "Make a plugin that allows `name++` commands, like v8bot."
`v8bot` just gives people beers - we can probably make this more fun.
- Variable drink types
- Ability to give internet points instead of a drink
- Persistent drink/points records

This ticket is abundantly low-priority.

[2011-10-15 12:25] mmalecki commented on #64
Done. Pull requested in #65.

[2011-10-16 03:43] #64 closed, assigned to nobody

[2011-10-20 21:17] AvianFlu commented on #1
http://github.com/AvianFlu/kohai-logger

[2011-10-20 21:17] #1 closed, assigned to nobody

[2011-10-20 21:18] AvianFlu commented on #26
This is now taken care of by github's service hooks.  Closing issue.

[2011-10-20 21:18] #26 closed, assigned to nobody

[2011-10-20 21:20] AvianFlu commented on #58
This has been merged into master.

[2011-10-20 21:20] #58 closed, assigned to nobody

[2011-10-20 21:20] AvianFlu commented on #61
Many of these have been implemented, and new ones can be added on the fly.

[2011-10-20 21:20] #61 closed, assigned to nobody

[2011-10-20 21:21] #62 closed, assigned to nobody

[2011-10-20 21:30] AvianFlu commented on #50
Hook.io-twitter now uses https://github.com/FGRibreau/node-language-detect - it's not perfect, but it has reduced the number of non-english tweets quite a bit.  Sadly, Google's translate API is no longer running.

[2011-10-20 21:30] #50 closed, assigned to nobody

[2011-10-20 21:31] AvianFlu commented on #5
This is more of a hook.io-twitter issue, and no immediate solution has presented itself.  Closing issue.

[2011-10-20 21:31] #5 closed, assigned to AvianFlu

[2011-11-04 19:10] willwh opened #68 "New tweets cause TypeError - no tweet to channel"
Hi guys, here's my output.

When a user tweets to an account or hashtag I am tracking, the bot pukes:

willwh@web:~/node/kohai$ node bin/kohai
TypeError: Cannot read property 'commandString' of undefined
    at [object Object].gotMessage (/home/willwh/node/kohai/lib/kohai.js:57:33)
    at [object Object].<anonymous> (/home/willwh/node/kohai/lib/listeners.js:18:17)
    at [object Object].<anonymous

[2011-11-04 19:18] Marak commented on #68
Without diving into it, I'm not really sure. It's probably a bad configuration setting that got set along the the way.

Can you try adding some console.log statements around https://github.com/nodejitsu/kohai/blob/master/lib/kohai.js#L53 to determine what data is getting passed into gotMessage() function? It would help if you let me know the values are you seeing for `data` and `this.channels` in

[2011-11-04 19:24] willwh commented on #68
Hi Marak, I can later today.... just finishing lunch and back to work. I thought maybe this would be caused by the tweet contents,  (i.e. it was; !op wobni #darkfall)

So I fired up the bot again and my friend tweeted without a leading ! - although;

TypeError: Cannot read property 'length' of undefined
    at new Levenshtein (/home/willwh/node/kohai/node_modules/hook.io-twitter/node_modules/leven

[2011-11-04 20:58] willwh commented on #68
After updating node (was running 4.9 - eep) - seems like this is running nicely, although;

Tweet kept directly: @ilovedarkfall: @DarkfallMMORPG Can you folks tweet out blog updates? in console now - so I assume that is something in my config

[2011-12-06 00:16] willwh opened #71 "Allow for individual channel properties"
Currently in config.json - there is a default channel config.

It should be possible to set these options per channel, with individual twitter and RSS feeds to track per channel too.

Dropping IRC log from mmalecki:

16:01:39 willwh> I am also thinking
16:01:54 willwh> we probably want to be able to have "track" and "feeds" specific to channel too
16:02:09 willwh> (I have hook.io-feedsub feeding R

[2012-01-24 18:28] mmalecki opened #72 "Modify beer regexp to avoid some edge cases"
[code]

It sucks.

[2012-02-16 07:42] jfhbrook opened #73 "implement xml feed subscription"
This would open the door to a _lot_ of data. Even github has atom feeds.

[2012-02-16 07:42] indutny commented on #73
close that door before it'll flood all our channels :D

[2012-02-16 07:44] jfhbrook opened #74 "A way to do "real" twitter replies"
I actually don't know why we don't have them now, but I didn't see an issue about it.

[2012-02-29 17:08] mmalecki opened #75 "Use `broadway`"
Make root object (`kohai`) instance of `broadway.App` and make it interact with hooks.

[2012-02-29 17:10] AvianFlu commented on #75
This particular aspect was already started in the `0.8.0` branch, so let's start there today.

[2012-02-29 17:34] mmalecki opened #76 "Decouple all the things"
![ALL OF THEM](http://i.qkme.me/36dics.jpg)
Like transports (IRC + Web + Twitter + ...).

[2012-02-29 18:00] jfhbrook commented on #75
I actually have a hook.io plugin in the mailjitsu project I think we should use.

2012/2/29 Maciej Małecki
reply@reply.github.com:

##

Joshua Holbrook
Engineer
Nodejitsu Inc.
josh@nodejitsu.com